@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

* {
    box-sizing: border-box;
} 
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: auto;
}

.title {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    span {
        display: block;
    }

    .is-mobile {display: none;}
}

.filters {
    display: flex;
    flex-direction: column;

    margin: 24px auto;

    & .filters__block-up, & .filters__block-down {
        display: flex;
        justify-content: space-between;
    }

    & .filters__block-up {
        margin-bottom: 16px;
        button { width: 22.5%; }        
    }

    & .filters__block-down {
        button { 
            width: 12%;
            &#podemPorcentajes {
                width: 15%;
            }
        }
    }

    button {
        //Botón
        height: auto;
        min-height: 32px;
        border: 0px;
        border-radius: 2px;
        box-shadow: 1px 2px 5px 0 rgba(197, 197, 197, 0.5);
        background-color: #f1f1f1;

        cursor: pointer;

        &.selected {
            background-color: #212121;
            color: #fff;
        }
        &:focus {
            outline: 0 !important;
        }

        //Textos
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;

        //Círculos de colores
        div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;

            margin-right: 2px;

            &.filter__color--junts {
                background-color: #20c0b2;
            }
            &.filter__color--psc {
                background-color: #ea5458;
            }
            &.filter__color--erc {
                background-color: #f9b33c;
            }
            &.filter__color--cs {
                background-color: #f45a09;
            }
            &.filter__color--pp {
                background-color: #48aafd;
            }
            &.filter__color--podem {
                background-color: #692772;
            }
            &.filter__color--cup {
                background-color: #fff468;
            }
        }

        //Negando eventos click a elementos interiores
        div, span {
            pointer-events: none;
        }
    }
}

.legends {
    width: auto;
    margin: 0 auto;

    .legend {
        width: auto;
        height: 100%;
        display: none;

        &.selected {
            display: flex;
            flex-direction: column;

            .legend__gradients {
                display: flex;
                flex-direction: row;
            }

            .legend__gradient {
                width: 100%;
                height: 6px;
                margin-bottom: 5px;                

                &--independencia {
                    width: 50%;
                    background-image: linear-gradient(to right, #e0e400,#f6f7b3);
                }
                &--no-independencia {
                    width: 50%;
                    background-image: linear-gradient(to right, #e7e7e7,#000);
                }
		        
                &--participacion {
                    background-image: linear-gradient(to right, #E4F4FB,#001A2D);
                }
                &--junts {
                    background-image: linear-gradient(to right, #bae8e4,#20c0b2);
                }
                &--erc {
                    background-image: linear-gradient(to right, #fde0af,#f9b33c);
                }
                &--psc {
                    background-image: linear-gradient(to right, #fbc9c7,#f60b01);
                }
                &--cs {
                    background-image: linear-gradient(to right, #ffc09f,#f45a09);
                }
                &--pp {
                    background-image: linear-gradient(to right, #c6e5ff,#48aafd);
                }
                &--podem {
                    background-image: linear-gradient(to right, #d7a7dd,#692772);
                }
                &--cup {
                    background-image: linear-gradient(to right, #fcf9ca,#fff200);
                }
            }

            .legend__values {
                display: flex;
                justify-content: space-between;

                font-family: 'Roboto';
                font-size: 13px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.6px;
                text-align: left;
                color: #000000;
                opacity: .5;
            }
        }
    }    
}

/* Mapa */
#mapa {
    width:100%;
    max-width: 640px;
    height: 515px;    
    margin: 16px auto;
}

.data-source {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #4f4f4f;
}

/* Cambio de estilos para mapa */
.mapboxgl-ctrl-geocoder--input {
    font-size: 13px !important;
}

.mapboxgl-popup {
    font-family: 'Roboto';
    opacity: .9;
    width: 230px !important;
    &-content {
        background-color: #e6e6e6 !important;
        padding: 8.25px;
        border-radius: 2.75px;
    }
    &-tip {
        border-top-color: #e6e6e6 !important;
    }
}

@media only screen and (max-width: 575px) {
    .filters {
        & .filters__block-up {
            button { width: auto; }        
        }
    
        & .filters__block-down {
            button { 
                width: auto; 
                &#podemPorcentajes {width: auto;}
            }
        }
        button { 
            font-size: 12.25px;
        }
    }
}

@media only screen and (max-width: 440px) {
    .title {
        .is-mobile {display: block;}
        .is-desktop {display: none;}
    }
    .filters {
        button { 
            font-size: 11.5px;
            box-shadow: 0.5px 1.35px 4px 0 rgba(197, 197, 197, 0.5);
        }
    }
}

@media only screen and (max-width: 380px) {
    .title {
        .is-mobile {display: block;}
        .is-desktop {display: none;}
    }
    .filters {
        button { 
            font-size: 11px;
            box-shadow: 0.5px 1px 3px 0 rgba(197, 197, 197, 0.5);
        }
    }
}